<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Добро пожаловать на сайт по поиску вакансий!</h1>

    <!-- Форма поиска -->
    <form action="/search" method="POST">
        <label for="position">Название вакансии:</label>
        <input type="text" id="position" name="position">

        <label for="city">Город:</label>
        <input type="text" id="city" name="city">

        <label for="work_type">Тип работы: </label>
        <input type="text" id="work_type" name="work_type">

        <label for="skills">Навыки:</label>
        <input type="text" id="skills" name="skills">

        <label for="company">Название компании: </label>
        <input type="text" id="company" name="company">

        <button type="submit">Искать</button>
    </form>
</body>
</html>
